.container{
    width: 100vw;
  height:80vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    
    
    left: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    z-index: -1;
    
}
.freebox{
    position:absolute;
    top: 00;
    width: 100vw;
    height: 80vh;
    background-color: black;
    z-index: 10;
    opacity: 0.6;
}
.wrapper{
    width: 100vw;
    display: flex;
    animation: slide 24s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.img{
    width: 100vw;
    height: 80vh;
    object-fit: fill;
    /* background-size: cover;
    background-image: url("https://images6.alphacoders.com/462/thumb-1920-462371.jpg"); */
}