@keyframes anitry {
    0%{
        margin-top: 100px;
        opacity: 0;
    }
    100%{
        margin-top: 20px;
        opacity: 1;

    }
}

.member{
    animation: anitry 5s;
    
    display: inline-block;
    width: 160px;
    height: 440px;
    font-size: 14px;
    /* background-color: grey; */
    color: grey;
    text-align: center;
    margin: 20px 50px;
   
}
.tttr{
    font-size: xx-small;
}

.imgh1{
    width: 156px;
    height: 220px;
    object-fit: cover;
    z-index: 1000;
    border-radius: 10px;
}