.aboutFira{
    position: relative;
    top: 100vh;
    width: 76vw;
    margin: 0 12vw;
    color: lightslategrey;
    /* margin-bottom: 20px; */
    padding-bottom: 30px;

}
.titleFira{
    color: black;
    font-size: xxx-large;
    font-weight: 100;
    border-bottom: 2px solid black;
    width: fit-content;
    margin-bottom: 29px;
}